/* Color Selectors */
:root { 
    --dark:#181823;
    --blue:#537FE7;
    --lightturquoise:#C0EEF2;
    --verylight:#E9F8F9;
}

/* Main body backround and font family */
body {
    background-color: var(--lightturquoise);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main header properties */
header {
    background-color: var(--dark);
    display:flex;
    flex:wrap;
    flex-direction: row;
    justify-content: space-between;
}
 
/* Float header image and header to the left */
  .headercontent {
    float: left;
  }
  
  /* text properties for header text */
  .headercontent h1 {
    /* font-size: 1.5em; */
    margin: 2.2em 0 .3em 0;
    /* display: inline-block; */
    font-size: 40pt;
    position:absolute;
    display:inline;
    margin-bottom: 30px;
    margin-left: 20px;
    color:var(--verylight);
  }
  
  /* Image properties for header image */
  .headercontent img {
    max-width: 200px;
    float: left;
    margin: 0 10px 0 0;
  }

  /* navigation box properties */
nav {
    margin: 7px;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
}

/* navigation text properties */
.nav {
    text-decoration: none;
    padding: 15px 20px;
    letter-spacing: 2px;
    position: relative;
    white-space: nowrap;
    font-size:x-large;
    margin: 4px;
    font-weight: 500;
}

/* hover effects for top nav links */
a.topnavbar:hover {
    color:#ccfc0b;
    text-shadow:0px 0px 50px #ccfc0b;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  /* flot the top nav bar to the right */
.topnavbar {
    float:right;
}

/* text color for top nav bar links */
a.topnavbar {
    color:var(--lightturquoise);
    margin-top:auto;
}

/* position properties for banner underneath header */
.banner {
    height: 130px;
    width: 100%;
    position: relative;
    margin-top: -16px;
    margin-bottom: 10px;
    margin-left: 0;
}

/* size and display properties for banner image */
.banner-image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-position: top;
}

/* properties for banner caption text */
figcaption.bannercaption {
    bottom: 40px;
    left: 15px;
    font-size: 40px;
    font-weight: bolder;
    white-space: normal;
    text-align: left;
}

/* properties for banner caption box */
.bannerlabel {
    margin: 3px;
    padding: 3px;
    border: 5px solid var(--dark);
    background-color: var(--blue);
    color: var(--verylight);
    white-space: nowrap;
    display: flex;
    font-style:italic;
}

/* flex properties for sections */
section {
    display: flex;
    flex-direction: row;
}

/* size and position properties for aside element */
aside {
    width: 12%;
    margin: 10px;
    padding-right: 10px;
    position: relative;
}

/* properties for line next to each aside text */
aside::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 110%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 95%;
    width: 3px;
    background: var(--blue);
}

/* h3 text properties */
h3 {
    font-weight: bolder;
    font-size: 30px;
    text-align: right;
    color:var(--dark);
}

/* width and margin for article elements */
article {
    width: 80%;
    margin: 30px;
}

/* font size for paragraphs in article element */
article p {
    font-size:x-large;
}

/* flex properties for work section flex box */
.work-flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* larger top work box height and width */
div.work-top {
    height: 200px;
    width: 100%;
}

/* background image properties for larger top work box */
.top-work-image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-position: top;
}

/* background image properties for smaller work boxes */
.small-work-image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-position: top;
    border-radius:5px;
}

/* flex box display and position properties for work section */
.work {
    position: relative;
    width: 47%;
    height: 150px;
    border: 4px solid var(--blue);
    margin: 10px;
    border-radius: 10px;
    padding:0px;
}

/* properties for top work box caption box */
figcaption.topwork-position {
    bottom: 120px;
    left: -20px;
    font-size: 20px;
    font-weight: bolder;
    white-space: normal;
    text-align: left;
}

/* properties for bottom work box caption box */
figcaption.work-position {
    bottom: 90px;
    left: -20px;
    font-size: 20px;
    font-weight: bolder;
    white-space: normal;
    text-align: left;
}

/* properties for caption labels in work section */
.label {
    margin: 3px;
    padding: 3px;
    border: 5px solid var(--dark);
    background-color: var(--blue);
    color: var(--verylight);
    white-space: nowrap;
    display: flex;
}

/* position and padding for captions in work section */
.subtitle {
    position: absolute;
    padding: 5px;
}

/* .bottomnav {
    float:right;
} */

/* text color for bottom nav options */
a.bottomnav {
    color:var(--dark)
}

/* underline hover effects for bottom nav links */
.hover-underline {
    display: inline-block;
    position: relative;
    color: var(--blue);
  }
  
  /* underline hover effects for bottom nav links */
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:var(--blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  /* moves hover underline from left to right */
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .headercontent {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    section {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    h2, h3 {
        text-align: center;
    }

    aside {
        width: 100%;
        text-align:center;
    }

    aside::after {
        content: "";
        position: absolute;
        display: block;
        left: 0px;
        bottom: -20px;
        background: none repeat scroll 0 0 transparent;
        height: 2px;
        width: 100%;
        background: var(--primary);
    }

    article {
        width: 100%;
    }
} 